In [42]:
import warnings
warnings.filterwarnings('ignore')

In [43]:
import numpy as np
import pandas as pd
from pathlib import Path
%matplotlib inline

# Regression Analysis: Seasonal Effects with Sklearn Linear Regression
In this notebook, you will build a SKLearn linear regression model to predict Yen futures ("settle") returns with *lagged* CAD/JPY exchange rate returns.

In [44]:
# Currency pair exchange rates for CAD/JPY
cad_jpy_df = pd.read_csv(
    Path("cad_jpy.csv"), index_col="Date", infer_datetime_format=True, parse_dates=True
)
cad_jpy_df.head()

             Price    Open    High     Low
Date
1982-01-05  184.65  184.65  184.65  184.65
1982-01-06  185.06  185.06  185.06  185.06
1982-01-07  186.88  186.88  186.88  186.88
1982-01-08  186.58  186.58  186.58  186.58
1982-01-11  187.64  187.64  187.64  187.64

In [45]:
# Trim the dataset to begin on January 1st, 1990
cad_jpy_df = cad_jpy_df.loc["1990-01-01":, :]
cad_jpy_df.head()

             Price    Open    High     Low
Date
1990-01-02  126.37  126.31  126.37  126.31
1990-01-03  125.30  125.24  125.30  125.24
1990-01-04  123.46  123.41  123.46  123.41
1990-01-05  124.54  124.48  124.54  124.48
1990-01-08  124.27  124.21  124.27  124.21

# Data Preparation

### Returns

In [46]:
# Create a series using "Price" percentage returns, drop any nan"s, and check the results:
cad_jpy_df["Return"] = (cad_jpy_df["Price"].pct_change() * 100)
cad_jpy_df = cad_jpy_df.replace(-np.inf, np.nan).dropna()
cad_jpy_df.head()

             Price    Open    High     Low    Return
Date
1990-01-03  125.30  125.24  125.30  125.24 -0.846720
1990-01-04  123.46  123.41  123.46  123.41 -1.468476
1990-01-05  124.54  124.48  124.54  124.48  0.874777
1990-01-08  124.27  124.21  124.27  124.21 -0.216798
1990-01-09  125.10  125.04  125.10  125.04  0.667901

### Lagged Returns

In [47]:
# Create a lagged return using the shift function
cad_jpy_df['Lagged_Return'] = cad_jpy_df.Return.shift()
cad_jpy_df = cad_jpy_df.dropna()
cad_jpy_df.head()

             Price    Open    High     Low    Return  Lagged_Return
Date
1990-01-04  123.46  123.41  123.46  123.41 -1.468476      -0.846720
1990-01-05  124.54  124.48  124.54  124.48  0.874777      -1.468476
1990-01-08  124.27  124.21  124.27  124.21 -0.216798       0.874777
1990-01-09  125.10  125.04  125.10  125.04  0.667901      -0.216798
1990-01-10  125.81  125.75  125.81  125.75  0.567546       0.667901

### Train Test Split

In [48]:
# Create a train/test split for the data using 2018-2019 for testing and the rest for training
train = cad_jpy_df[:'2017']
test = cad_jpy_df['2018':]

In [49]:
# Create four dataframes:

# X as Lagged Return
# X_train 
X_train = train["Lagged_Return"].to_frame()
# X_test
X_test = test["Lagged_Return"].to_frame()

# Y as Return
# y_train
y_train = train["Return"]
# y_test
y_test = test["Return"]

In [50]:
# Preview the X_train data
X_train.head()

            Lagged_Return
Date
1990-01-04      -0.846720
1990-01-05      -1.468476
1990-01-08       0.874777
1990-01-09      -0.216798
1990-01-10       0.667901

# Linear Regression Model

In [51]:
# Imports
from sklearn.linear_model import LinearRegression

In [52]:
# Create a Linear Regression model and fit it to the training data
# Fit a SKLearn linear regression using  just the training set (X_train, Y_train):
lrmodel = LinearRegression()
lrmodel.fit(X_train, y_train)

LinearRegression()

# Make predictions using the Testing Data

**Note:** We want to evaluate the model using data that it has never seen before, in this case: `X_test`.

In [53]:
# Make a prediction of "y" values using just the test dataset
y_pred = lrmodel.predict(X_test)

In [54]:
# Display Prediction Y
y_pred

array([ 5.43439180e-03, -7.31683532e-03,  3.40452844e-04, -1.35792610e-03,
       -1.63655340e-02, -2.44367146e-02,  1.15651714e-03,  1.73492439e-02,
        4.33531968e-02, -2.79188355e-03, -8.79669862e-03,  4.62791859e-03,
        2.06877900e-03, -1.88146406e-02, -1.64302023e-03,  2.10835730e-02,
       -1.39707968e-02,  7.47924365e-03,  1.03690828e-02,  1.22438303e-03,
        3.63516057e-04, -1.07473155e-03,  2.37901706e-03, -1.49085240e-02,
       -1.59802126e-02,  1.54536828e-02,  4.45325041e-02, -2.15202592e-02,
        2.03666349e-02,  1.93801985e-02, -7.55558060e-03,  1.56978180e-03,
        2.18682555e-02, -2.55883242e-03,  1.76140270e-02,  1.02813536e-02,
       -6.77825725e-03, -1.07473155e-03, -4.75704639e-04,  2.31915773e-02,
       -1.92230440e-02,  7.93509179e-03,  8.26853966e-03,  2.55459614e-02,
        1.08479501e-02,  1.85829065e-02,  4.80661690e-03, -1.65878612e-02,
        6.94315856e-03, -7.26185707e-03, -3.19352362e-02,  1.41704170e-02,
        1.91702958e-02,  2.63573731e-03,  1.78143938e-02,  1.60839666e-02,
       -7.67076398e-03, -1.26662308e-02, -2.32168975e-02,  2.52045592e-02,
        2.67404598e-03, -2.76677952e-02,  8.83311073e-03, -2.96712519e-02,
        1.69162962e-03,  4.46401917e-03,  1.15688644e-02, -3.88852281e-02,
       -1.29845207e-02, -1.96159826e-02,  1.67287350e-02, -1.44455507e-02,
       -3.06993479e-02,  4.00502507e-03, -1.33504434e-02,  4.58666964e-03,
       -5.25560292e-03, -1.96916128e-03,  9.65464954e-03,  4.61200328e-03,
        9.12435019e-03, -7.70072581e-03, -6.48190339e-03, -1.33649212e-02,
        6.38322375e-03, -2.57071222e-03, -4.66297319e-03, -1.30186750e-02,
        6.65251942e-03,  6.67608364e-03,  7.19389276e-04,  6.40605243e-03,
        1.15300847e-02, -3.45534902e-02, -1.03030996e-02,  3.96767828e-03,
       -3.15514527e-03, -4.93519715e-03, -1.91617522e-02, -6.07975990e-03,
        1.44985137e-02, -2.70916052e-02,  9.16804229e-03,  2.00813753e-02,
        2.76664789e-02,  1.33103900e-02,  2.24062275e-03,  1.91451649e-02,
       -3.27125294e-02,  1.72539055e-02, -2.01418051e-02, -1.09878799e-02,
        7.60297787e-03, -1.57872994e-02,  1.56428613e-02, -6.18331629e-03,
       -2.27434035e-03, -1.67425299e-03, -5.86977206e-03,  1.50780568e-02,
        1.69876005e-02,  1.35081651e-03,  2.65422327e-02, -2.91563292e-03,
        7.81651861e-03, -8.76650967e-03,  7.82081078e-03, -4.76857361e-03,
       -1.52611157e-04, -2.44435930e-02, -2.72775270e-02,  4.35361218e-03,
       -3.19027235e-03,  2.24692496e-03, -6.21491829e-03, -7.41155862e-03,
       -4.68677015e-03, -4.08049215e-03, -6.17848890e-03, -2.35461847e-02,
        4.86514030e-03, -4.64700303e-03, -3.45290339e-03, -4.63865465e-03,
        2.71001530e-02, -1.75024939e-04,  4.62542805e-03, -1.37541428e-03,
       -1.67083843e-02, -1.67234997e-03, -1.07473155e-03, -4.65959920e-03,
       -2.55368249e-02,  1.88001289e-03,  4.54581688e-03,  1.00058610e-03,
       -1.37144777e-03,  9.01244244e-03,  2.20176943e-03,  1.90775046e-03,
        2.01257681e-02,  1.93637041e-03, -2.60965210e-02,  2.48972430e-02,
       -2.28117330e-03, -1.01187518e-02,  6.43522934e-03, -8.60694813e-03,
       -1.45926611e-02, -1.67234997e-03, -1.03356396e-02, -9.11140111e-03,
       -1.08663669e-02, -1.73314956e-02,  2.94699647e-02,  8.43795585e-03,
        8.77208090e-03,  8.81037728e-03, -4.38263297e-03,  9.43672902e-03,
       -5.59835132e-03, -7.73692677e-04, -3.17843334e-02, -6.13189561e-03,
       -1.59192074e-02,  3.05758715e-03,  5.42948686e-03, -2.65655444e-02,
       -1.07589653e-02, -8.38342479e-03, -4.91712584e-04,  1.84103209e-03,
       -5.45340014e-03,  1.75754581e-02, -1.16430108e-02, -3.46947205e-02,
       -2.41572259e-02,  6.07362925e-03, -1.13974032e-02,  2.34852370e-02,
        5.84608851e-03,  1.54070951e-02,  1.25360572e-03,  3.76693676e-02,
       -6.10364330e-03, -3.14137089e-03,  2.76019477e-03, -2.35281790e-02,
        6.53944638e-03,  2.21301710e-02, -6.41064022e-03, -6.99109831e-03,
        4.23763271e-03, -2.84922852e-03, -1.07473155e-03,  1.75444874e-02,
       -6.73149061e-03, -2.24632687e-02,  1.12977985e-02, -9.36343322e-03,
       -7.56611367e-03, -4.86109229e-04, -4.01852488e-03, -5.19127438e-03,
       -4.89105461e-03,  1.50470438e-02,  5.41514376e-03, -2.55347902e-03,
        3.65450890e-03, -1.29198727e-02,  1.07154629e-02,  9.88202402e-03,
        2.00414225e-02, -2.17679835e-02, -7.02433633e-03,  8.12561947e-03,
       -1.26914168e-02,  3.07638795e-03, -3.45068028e-03,  5.45302535e-03,
        1.90007085e-03, -2.46032085e-02,  3.13859474e-02,  7.29487831e-03,
        1.48200852e-02, -1.34481010e-02, -4.74076656e-04, -3.17752059e-03,
       -6.47743359e-03, -8.56256788e-03,  1.08706152e-02,  1.51276345e-02,
        1.73453636e-02,  3.48786628e-03,  3.03114488e-02,  1.74370759e-02,
        1.78836863e-02, -4.48472789e-04, -2.95765277e-02,  1.56508647e-02,
        1.95030772e-02,  1.52704206e-02, -4.23837502e-03,  6.82454482e-03,
        1.09696012e-02, -4.37490751e-02, -1.98671246e-02, -6.36016393e-03,
       -1.43943766e-04, -2.00586031e-03,  1.71763179e-03,  1.16600256e-02,
       -1.66831273e-02, -1.31749727e-02, -1.48354010e-04, -1.71377968e-02,
        7.82725683e-03,  1.74079093e-02, -8.83224334e-03, -4.56018993e-04,
       -2.42821016e-02,  1.18038049e-02, -1.50151275e-04, -1.58733992e-02,
       -2.91385684e-03, -1.94526865e-02, -8.37314120e-03,  1.38187168e-04,
        1.59142378e-02,  1.99989659e-02, -4.46239455e-03, -1.12241929e-02,
       -1.63915398e-02, -9.60076396e-03,  1.83481884e-02, -1.02493357e-02,
       -5.34081430e-03, -7.15892344e-03, -1.29105734e-02,  1.31228611e-02,
       -1.89973560e-02,  7.35145856e-04,  5.86807567e-03, -1.25768757e-02,
       -8.00519234e-03,  1.12459728e-02,  4.36070637e-03,  3.76712327e-03,
        1.98456204e-02,  5.03946418e-03,  1.37684421e-03, -6.28935981e-03,
       -1.20948643e-02, -5.64663075e-03, -8.37663577e-03,  4.68938305e-03,
       -1.62539478e-04, -2.59559749e-03,  1.13889113e-02,  6.86799084e-03,
        3.20215411e-02, -6.97404160e-03, -2.02805344e-02,  6.61146406e-03,
        1.70069195e-03, -2.36111089e-02, -1.97409898e-02,  5.00073437e-03,
       -3.20623965e-03, -2.29171558e-03,  1.96627248e-03, -8.68634859e-03,
        9.24615936e-03,  7.54028136e-04, -3.81984621e-03, -2.14885373e-02,
        6.78392588e-03, -2.89389258e-03, -4.40747476e-03,  7.39750567e-03,
        3.47914655e-03, -1.05029721e-02,  1.55909711e-02,  4.11048504e-03,
        1.05394465e-02, -5.98736003e-03, -1.38117851e-03, -1.02670323e-02,
        1.08321964e-02,  1.99269684e-03, -1.68895851e-03,  1.12068397e-02,
        1.58944253e-02,  3.27372211e-03,  6.39253592e-03, -1.73014842e-02,
        2.55915756e-02, -1.07889229e-02, -5.44508236e-03, -2.94452397e-03,
       -6.67998528e-03, -6.66765098e-03, -1.47162943e-02,  6.63477817e-03,
        2.39800773e-02, -4.49935291e-04, -5.13690577e-03,  1.17162980e-02,
       -1.07473155e-03, -5.15093746e-03,  3.24218585e-02, -1.12261890e-02,
       -1.08698342e-02, -4.22231193e-03, -1.01914246e-02, -1.39177828e-02,
       -6.99646694e-03, -1.41894074e-04,  1.10566080e-02, -1.38728334e-03,
        1.11132895e-02, -1.07473155e-03, -5.15698076e-03, -1.17342628e-02,
        4.86299755e-04,  5.17323100e-03, -8.90393055e-03, -1.07473155e-03,
       -2.29291698e-02, -7.26562465e-03, -4.47144917e-03, -5.39205699e-03,
        6.00598996e-03, -8.79266900e-03, -1.69029734e-03, -1.09213995e-02,
       -4.44646126e-03,  2.29253123e-03, -1.07473155e-03, -2.60733596e-03,
        3.82664710e-03,  2.30147698e-03, -1.07473155e-03, -1.68940414e-03,
        9.98670002e-03, -4.46938706e-03,  6.63010404e-03, -7.25734201e-03,
        2.31745273e-03, -7.86816680e-03, -1.07473155e-03, -4.46239455e-03,
       -1.52053243e-04,  4.15567758e-03,  3.56136319e-02,  1.55047850e-02,
        1.62433946e-02, -1.70880194e-03,  8.43395219e-03, -1.09372683e-02,
        7.79893337e-03,  1.13283184e-02, -3.91055210e-02,  3.67102709e-02,
       -7.78689131e-03, -1.44636929e-02,  2.73064013e-03,  6.86501344e-03,
       -1.50924717e-02,  5.89569548e-03,  1.95763467e-02, -2.44574656e-02,
        1.38426691e-02, -5.54444594e-03, -1.44603352e-02,  8.75335952e-03,
        4.33578809e-03,  6.57994381e-03, -3.30655580e-02, -1.33960709e-02,
       -1.14501829e-02, -9.52922476e-03, -1.16858341e-02,  4.79237129e-04,
       -4.18457024e-03,  1.35236486e-02, -1.13838697e-02,  4.80949177e-04,
       -7.63404847e-04,  4.84120036e-03,  9.22427980e-03, -1.34648511e-04,
        5.82176150e-03, -1.27049360e-02, -2.63922198e-03, -7.32884366e-03,
       -5.75380217e-03,  2.97301133e-03,  3.16707252e-02,  7.77135827e-03,
       -5.51322428e-03, -1.05692073e-02,  6.80788588e-03, -8.98187180e-03,
       -2.06236228e-02, -2.95484575e-02,  5.73276366e-03, -1.81391742e-02,
        1.39081584e-03, -1.12549899e-02,  2.30515032e-03, -1.27662343e-02,
        2.90667888e-03, -1.05837596e-02,  1.37006457e-03, -5.05135029e-03,
       -8.71012918e-03,  7.14679971e-03,  1.35887559e-02,  1.85900357e-02,
       -9.74514975e-03, -7.24683248e-03, -1.36968873e-02,  8.11535341e-03,
       -9.68327063e-03,  9.34320933e-03,  4.77101983e-03,  1.58790009e-04,
        6.94705169e-03,  7.59146336e-03, -1.38079326e-02, -2.00178486e-03,
        1.34438082e-02,  4.20682447e-03, -5.43330532e-03,  1.72241207e-03,
       -7.29745443e-03, -9.76526672e-03, -1.06636090e-02, -7.66575488e-04,
       -1.38292497e-03,  1.61820077e-02,  5.75104551e-03, -2.50292823e-02,
       -3.54027893e-03,  1.83226377e-02, -3.55683229e-03, -6.96396961e-03,
       -7.87808543e-03, -1.64956220e-02, -5.67309935e-03, -7.50082045e-03,
        1.36712859e-03, -1.11570910e-02,  5.01164576e-03,  1.36566323e-03,
       -4.64046499e-04,  2.89567522e-03, -1.07473155e-03, -1.51458440e-02,
       -4.72524668e-03,  9.25356050e-03, -1.11401520e-02, -2.28996997e-03,
        1.35458378e-03,  1.35151053e-02, -1.48316719e-02,  5.61467695e-03,
       -1.08304563e-02, -7.45244626e-03, -4.68850458e-04, -1.07711404e-02,
       -1.67845391e-03, -2.58367904e-03, -7.10694031e-03,  3.13781685e-03,
       -4.39008584e-03,  9.76138426e-03,  1.28307006e-02,  5.00436715e-03,
        7.45641118e-03,  1.75735654e-02, -1.46253836e-02,  1.05660427e-02,
        1.69497913e-03,  1.77182310e-02,  1.40827851e-03, -2.31329949e-02,
       -6.31084519e-03, -4.45583964e-03,  9.97601264e-03, -7.66425970e-04,
       -6.93324812e-03, -1.52258903e-02,  8.40911608e-03, -2.30303705e-03,
       -7.82714860e-03,  3.51699042e-03, -4.27816908e-02, -1.07297027e-02,
        4.93678966e-03,  3.11631554e-02,  7.77488591e-03,  4.13110096e-03,
        2.93038083e-02,  3.52614764e-02, -2.09241531e-02,  3.86291107e-02,
       -1.06024255e-02,  3.56281011e-02,  2.20401256e-02,  1.20744052e-01,
       -7.90025260e-02,  3.49141171e-02,  2.33740753e-02, -1.03201487e-01,
        8.54032078e-02, -1.15079686e-02,  3.27784648e-02, -5.10113342e-02,
       -2.93932594e-02,  1.30932565e-02, -7.70143253e-03, -4.89933792e-02,
        4.43935852e-03,  3.17566775e-02,  3.41622229e-02, -1.37647203e-02,
        3.18217837e-02, -2.90162821e-02, -2.40666979e-03, -3.53541776e-02,
       -1.05977889e-02,  2.33890498e-04, -9.27594281e-05, -4.02178649e-03,
        5.46669469e-03,  8.10689567e-03,  3.44685140e-02, -1.84308577e-02,
       -5.71584232e-03,  2.37430444e-02,  6.27693367e-03, -9.11799472e-03,
       -1.37697242e-02,  6.57089189e-03, -7.74315910e-03,  1.25311068e-03,
       -1.83831261e-02, -7.44129157e-04,  3.09978719e-02,  2.60884985e-03,
       -4.42830215e-03,  2.73930572e-02, -3.59617425e-02, -1.84491105e-02,
       -1.13622111e-02,  2.53665810e-02,  5.60508754e-03, -1.58090571e-02,
        1.49064337e-02, -3.96052066e-02, -8.99579477e-03, -4.36492075e-03,
        6.48292027e-03,  6.83503349e-03, -5.37256260e-03, -3.53993389e-02,
       -9.86718785e-03,  1.84598353e-03, -3.02411503e-03, -3.28902602e-02,
       -3.73064512e-02, -1.05585792e-02])

In [55]:
# Assemble actual y data (Y_test) with predicted y data (from just above) into two columns in a dataframe:
residual = y_test.to_frame()
residual["Predicted Return"] = y_pred

In [56]:
# Plot the first 20 predictions vs the true values
residual.head(20)

              Return  Predicted Return
Date
2018-01-01  0.245591          0.005434
2018-01-02 -0.055679         -0.007317
2018-01-03  0.011142          0.000340
2018-01-04  0.601604         -0.001358
2018-01-05  0.919158         -0.016366
2018-01-08 -0.087787         -0.024437
2018-01-09 -0.724876          0.001157
2018-01-10 -1.747981          0.017349
2018-01-11  0.067560          0.043353
2018-01-12  0.303815         -0.002792
2018-01-15 -0.224366         -0.008797
2018-01-16 -0.123679          0.004628
2018-01-17  0.697962          0.002069
2018-01-18  0.022359         -0.018815
2018-01-19 -0.871801         -0.001643
2018-01-22  0.507385          0.021084
2018-01-23 -0.336549         -0.013971
2018-01-24 -0.450248          0.007479
2018-01-25 -0.090457          0.010369
2018-01-26 -0.056587          0.001224

# Out-of-Sample Performance

Evaluate the model using "out-of-sample" data (`X_test` and `y_test`)

In [57]:
# Imports
from sklearn.metrics import mean_squared_error

In [58]:
# Calculate the mean_squared_error (MSE) on actual versus predicted test "y" 
mse = mean_squared_error(residual["Return"], residual["Predicted Return"])
# Using that mean-squared-error, calculate the root-mean-squared error (RMSE):
rmse = np.sqrt(mse)
print(f"out of sample data:{rmse}")

out of sample data:0.6445805658569028

# In-Sample Performance

Evaluate the model using in-sample data (X_train and y_train)

In [61]:
# Construct a dataframe using just the "y" training data:

# In Sample Performance as 'isp'
isp = y_train.to_frame()
# Add a column of "in-sample" predictions to that dataframe:  
isp["In Sample Predictions"] = lrmodel.predict(X_train)
# Calculate in-sample mean_squared_error (for comparison to out-of-sample)
mse = mean_squared_error(
    residual["Return"],
    residual["Predicted Return"])
# Calculate in-sample root mean_squared_error (for comparison to out-of-sample)
rmse = np.sqrt(mse)
print(f"out of sample data:{rmse}")

out of sample data:0.6445805658569028

# Conclusions

**Question:** Does this model perform better or worse on out-of-sample data as compared to in-sample data?

*A. *Error Rate is Higher in the in-sample, so therefor the better model is the out-of-sample model